In [1]:
import os, sys
from collections import Counter
import numpy as np
import pandas as pd
import sklearn.model_selection
from sklearn.naive_bayes import GaussianNB

np.random.seed(18937)

In [2]:
datasource = "datasets/titanic.csv"
print(os.path.exists(datasource))

True

In [4]:
df = pd.read_csv(datasource).sample(frac = 1).reset_index()
df.head()

   index  pclass  sex   age  sibsp  parch     fare  embarked  survived
0    360       1    1  27.0      0      0  30.5000         1         1
1    317       2    0  31.0      1      1  26.2500         1         1
2    145       3    1  12.0      1      0  11.2417         0         1
3     62       3    1  24.5      0      0   8.0500         1         0
4     21       1    1  37.0      1      0  53.1000         1         0

In [5]:
df.describe()

,index,pclass,sex,age,sibsp,parch,fare,embarked,survived
count,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000
mean,444.500000,2.312360,0.642697,29.548697,0.503371,0.351685,32.865772,0.895506,0.389888
std,257.065167,0.837241,0.479475,13.379025,1.095286,0.790069,52.639685,0.529535,0.487999
min,0.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,222.250000,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,1.000000,0.000000
50%,444.500000,3.000000,1.000000,28.000000,0.000000,0.000000,13.775000,1.000000,0.000000
75%,666.750000,3.000000,1.000000,37.000000,1.000000,0.000000,29.925000,1.000000,1.000000
max,889.000000,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,2.000000,1.000000

In [6]:
m = GaussianNB()

In [7]:
X = np.array(df.iloc[:, :-1]) # give me everything except for the last column (label)
y = np.array(df["survived"]) # just give me the label column (survived)

In [8]:
sklearn.model_selection.cross_val_score(m, X, y, cv = 20)

array([ 0.65217391,  0.86956522,  0.7173913 ,  0.71111111,  0.75555556,
        0.82222222,  0.84444444,  0.75      ,  0.77272727,  0.79545455,
        0.72727273,  0.81818182,  0.75      ,  0.79545455,  0.81818182,
        0.75      ,  0.75      ,  0.86363636,  0.72727273,  0.72727273])

Let's try this manually

In [11]:
def cross_val_score(model, X, y, cv):
    X_folds = np.array_split(X, cv)
    y_folds = np.array_split(y, cv)
    
    for i in range(cv):
        X_train = np.concatenate([X_folds[j] for j in range(cv) if j != i])
        X_test = X_folds[i]
        
        y_train = np.concatenate([y_folds[j] for j in range(cv) if j != i])
        y_test = y_folds[i]
        
        model.fit(X_train, y_train)
        yield model.score(X_test, y_test)

In [14]:
for i, score in enumerate(cross_val_score(m, X, y, cv = 20)):
    print("Score for CV #", i, "is ", score)

Score for CV # 0 is  0.666666666667
Score for CV # 1 is  0.777777777778
Score for CV # 2 is  0.8
Score for CV # 3 is  0.755555555556
Score for CV # 4 is  0.622222222222
Score for CV # 5 is  0.822222222222
Score for CV # 6 is  0.844444444444
Score for CV # 7 is  0.755555555556
Score for CV # 8 is  0.755555555556
Score for CV # 9 is  0.844444444444
Score for CV # 10 is  0.772727272727
Score for CV # 11 is  0.772727272727
Score for CV # 12 is  0.75
Score for CV # 13 is  0.795454545455
Score for CV # 14 is  0.840909090909
Score for CV # 15 is  0.681818181818
Score for CV # 16 is  0.863636363636
Score for CV # 17 is  0.75
Score for CV # 18 is  0.75
Score for CV # 19 is  0.772727272727