In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
rates = pd.read_csv("datasets/rates.csv")
rates

# Rate is in cents per miles (randomly generated)

    Load         Origin    Destination  Rate
0      1        Chicago         Denver    56
1      2        Chicago         Denver    31
2      3        Chicago         Denver    25
3      4        Chicago         Denver    55
4      5        Chicago         Denver    52
5      6        Chicago         Austin    28
6      7        Chicago         Austin    48
7      8        Chicago         Austin    49
8      9         Austin        Seattle    70
9     10         Austin       Portland    72
10    11         Austin         Boston    47
11    12         Denver    Los Angeles    52
12    13         Denver  San Francisco    40
13    14        Denver       Baltimore    27
14    15         Austin    San Antonio    70
15    16    San Antonio      Baltimore    24
16    17  San Francisco         Austin    80
17    18         Denver        Chicago    50
18    19       Portland         Denver    70
19    20    San Antonio       Portland    35
20    21         Boston       Portland    67
21    22        Chicago        Seattle    66
22    23        Seattle       Portland    75
23    24         Austin       Portland    41
24    25         Austin        Chicago    50

In [3]:
times = pd.read_csv("datasets/times.csv")
times

# time is in hours (from google maps)

           Origin    Destination  Time
0          Austin        Seattle    33
1          Austin       Portland    32
2          Austin         Boston    30
3          Austin    San Antonio     2
4          Austin        Chicago    18
5          Boston       Portland    46
6         Chicago         Denver    15
7         Chicago         Austin    18
8         Chicago        Seattle    30
9          Denver    Los Angeles    16
10         Denver  San Francisco    20
11         Denver        Chicago    15
12        Denver       Baltimore    25
13       Portland         Denver    20
14    San Antonio      Baltimore    25
15    San Antonio       Portland    32
16  San Francisco         Austin    12
17        Seattle       Portland     4

In [4]:
df = rates.merge(times, left_on = ["Origin", "Destination"], right_on = ["Origin", "Destination"], how = "left")
df

    Load         Origin    Destination  Rate  Time
0      1        Chicago         Denver    56    15
1      2        Chicago         Denver    31    15
2      3        Chicago         Denver    25    15
3      4        Chicago         Denver    55    15
4      5        Chicago         Denver    52    15
5      6        Chicago         Austin    28    18
6      7        Chicago         Austin    48    18
7      8        Chicago         Austin    49    18
8      9         Austin        Seattle    70    33
9     10         Austin       Portland    72    32
10    11         Austin         Boston    47    30
11    12         Denver    Los Angeles    52    16
12    13         Denver  San Francisco    40    20
13    14        Denver       Baltimore    27    25
14    15         Austin    San Antonio    70     2
15    16    San Antonio      Baltimore    24    25
16    17  San Francisco         Austin    80    12
17    18         Denver        Chicago    50    15
18    19       Portland         Denver    70    20
19    20    San Antonio       Portland    35    32
20    21         Boston       Portland    67    46
21    22        Chicago        Seattle    66    30
22    23        Seattle       Portland    75     4
23    24         Austin       Portland    41    32
24    25         Austin        Chicago    50    18

In [5]:
# start in Chicago

origin = "Chicago"

node1 = df[df["Origin"] == origin]
node1

    Load   Origin Destination  Rate  Time
0      1  Chicago      Denver    56    15
1      2  Chicago      Denver    31    15
2      3  Chicago      Denver    25    15
3      4  Chicago      Denver    55    15
4      5  Chicago      Denver    52    15
5      6  Chicago      Austin    28    18
6      7  Chicago      Austin    48    18
7      8  Chicago      Austin    49    18
21    22  Chicago     Seattle    66    30

In [6]:
# node1 destinations

node2options = set(node1["Destination"])
node2options

{'Austin', 'Denver', 'Seattle'}

In [7]:
# focus on austin first

toAustin1 = [28, 18] # [rate, time]
toAustin2 = [48, 18]
toAustin3 = [49, 18]

# same miles because they're all going to the same city
# but different rates. 
# the best one is toAustin3 with 49 cents/mile

In [8]:
# focus on denver now

toDenver1 = [56, 15]
toDenver2 = [31, 15]
toDenver3 = [25, 15]
toDenver4 = [55, 15]
toDenver5 = [52, 15]

# pick toDenver4 because it's the highest rate of 55 c/m

In [9]:
# focus on seattle now

toSeattle1 = [66, 30]

In [10]:
# should i go with austin, denver, or seattle?
# going to seattle yields the highest rate.
# let's assume I have a capacity limit of 50 miles.

selected = [66, 30]

# the only load leaving seattle is portland [75, 4]
nextLoad = [75, 4]

In [11]:
rate_time = [selected[0] + nextLoad[0], selected[1] + nextLoad[1]]
rate_time

[141, 34]

In [12]:
# I have still have miles to drive. 
# the only available load is going from portland to denver [70, 20]
selected = [70, 20]
rate_time = [selected[0] + rate_time[0], selected[1] + rate_time[1]]
rate_time

[211, 54]

In [13]:
# denver goes to 3 spots 
# but i can't go anywhere because it
# would put me over the cap of 50 miles. 
# my tour ends here. 

df[df["Origin"] == "Denver"]

    Load  Origin    Destination  Rate  Time
11    12  Denver    Los Angeles    52    16
12    13  Denver  San Francisco    40    20
17    18  Denver        Chicago    50    15

In [14]:
# how can i automate this now?

In [15]:
def calculateRateTime(nextNode, dt=None):
    if (dt == None):
        dt = [0, 0]
        
    dt = [dt[0] + nextNode[0], dt[1] + nextNode[1]]
    return(dt)

In [16]:
calculateRateTime([5,3], [1,1])

[6, 4]

In [17]:
def getRateTime(record):
    rate = record["Rate"]
    time = record["Time"]
    return([rate, time])

In [47]:
for i in range(0, 5):
    row = df.iloc[i, ]
    ratetime = getRateTime(row)
    print(ratetime)
    print("-----")

[56, 15]
-----
[31, 15]
-----
[25, 15]
-----
[55, 15]
-----
[52, 15]
-----

In [19]:
class Tour:
    def __init__(self):
        self.loads = []
        self.metrics = [0, 0]
        
    def append(self, val):
        self.loads.append(val)
        return self.loads

In [20]:
def findDestinations(node):
    return(list(set(df[df["Origin"] == node]["Destination"])))

In [21]:
findDestinations(origin)

['Austin', 'Denver', 'Seattle']

In [22]:
origin = "Austin" #origin

In [71]:
def initializeTour(origin):
    tourList = []
    for nextDest in findDestinations(origin): 
        destinations = df[(df["Origin"] == origin) & (df["Destination"] == nextDest)]

        for r in range(0, len(destinations)):
            loadID = destinations.iloc[r, ]["Load"]        
            rt = getRateTime(destinations.iloc[r, ])
            tour = Tour()
            tour.append(loadID)
            tour.metrics = calculateRateTime(tour.metrics, rt)
            tourList.append(tour)
    return tourList

In [72]:
# build on next tour

def buildTour(tourList):
    for i in tourList:
        lastLoadID = i.loads[-1]
        lastLoadCity = df[df["Load"] == lastLoadID].iloc[0]["Destination"]
        nextCities = findDestinations(lastLoadCity)

        for c in nextCities:
            loadsToDestinations = df[(df["Origin"] == lastLoadCity) & (df["Destination"] == c)]

            for l in range(0, len(loadsToDestinations)):
                load = loadsToDestinations.iloc[l]
                if (load["Load"] not in i.loads):
                    rt = getRateTime(load)
                    tour = copy.deepcopy(i)
                    tour.append(load["Load"])
                    tour.metrics = calculateRateTime(tour.metrics, rt)
                    if (tour.metrics[1] <= 100):
                        tourList.append(tour)    
    return tourList

In [77]:
tourList = initializeTour("Portland")

for tour in tourList:
    print("Load Series", tour.loads)
    print("Tour Metrics", tour.metrics)
    print("----------------------")

Load Series [19]
Tour Metrics [70, 20]
----------------------

In [78]:
tourList = buildTour(tourList)
len(tourList)

120

In [79]:
for t in tourList:
    print("Tour:", t.loads)
    print("Metrics:", t.metrics)
    print("=============")

Tour: [19]
Metrics: [70, 20]
=============
Tour: [19, 12]
Metrics: [122, 36]
=============
Tour: [19, 18]
Metrics: [120, 35]
=============
Tour: [19, 13]
Metrics: [110, 40]
=============
Tour: [19, 18, 6]
Metrics: [148, 53]
=============
Tour: [19, 18, 7]
Metrics: [168, 53]
=============
Tour: [19, 18, 8]
Metrics: [169, 53]
=============
Tour: [19, 18, 1]
Metrics: [176, 50]
=============
Tour: [19, 18, 2]
Metrics: [151, 50]
=============
Tour: [19, 18, 3]
Metrics: [145, 50]
=============
Tour: [19, 18, 4]
Metrics: [175, 50]
=============
Tour: [19, 18, 5]
Metrics: [172, 50]
=============
Tour: [19, 18, 22]
Metrics: [186, 65]
=============
Tour: [19, 13, 17]
Metrics: [190, 52]
=============
Tour: [19, 18, 6, 15]
Metrics: [218, 55]
=============
Tour: [19, 18, 6, 11]
Metrics: [195, 83]
=============
Tour: [19, 18, 6, 10]
Metrics: [220, 85]
=============
Tour: [19, 18, 6, 24]
Metrics: [189, 85]
=============
Tour: [19, 18, 6, 25]
Metrics: [198, 71]
=============
Tour: [19, 18, 6, 9]
Metrics: [218, 86]
=============
Tour: [19, 18, 7, 15]
Metrics: [238, 55]
=============
Tour: [19, 18, 7, 11]
Metrics: [215, 83]
=============
Tour: [19, 18, 7, 10]
Metrics: [240, 85]
=============
Tour: [19, 18, 7, 24]
Metrics: [209, 85]
=============
Tour: [19, 18, 7, 25]
Metrics: [218, 71]
=============
Tour: [19, 18, 7, 9]
Metrics: [238, 86]
=============
Tour: [19, 18, 8, 15]
Metrics: [239, 55]
=============
Tour: [19, 18, 8, 11]
Metrics: [216, 83]
=============
Tour: [19, 18, 8, 10]
Metrics: [241, 85]
=============
Tour: [19, 18, 8, 24]
Metrics: [210, 85]
=============
Tour: [19, 18, 8, 25]
Metrics: [219, 71]
=============
Tour: [19, 18, 8, 9]
Metrics: [239, 86]
=============
Tour: [19, 18, 1, 12]
Metrics: [228, 66]
=============
Tour: [19, 18, 1, 13]
Metrics: [216, 70]
=============
Tour: [19, 18, 2, 12]
Metrics: [203, 66]
=============
Tour: [19, 18, 2, 13]
Metrics: [191, 70]
=============
Tour: [19, 18, 3, 12]
Metrics: [197, 66]
=============
Tour: [19, 18, 3, 13]
Metrics: [185, 70]
=============
Tour: [19, 18, 4, 12]
Metrics: [227, 66]
=============
Tour: [19, 18, 4, 13]
Metrics: [215, 70]
=============
Tour: [19, 18, 5, 12]
Metrics: [224, 66]
=============
Tour: [19, 18, 5, 13]
Metrics: [212, 70]
=============
Tour: [19, 18, 22, 23]
Metrics: [261, 69]
=============
Tour: [19, 13, 17, 15]
Metrics: [260, 54]
=============
Tour: [19, 13, 17, 11]
Metrics: [237, 82]
=============
Tour: [19, 13, 17, 10]
Metrics: [262, 84]
=============
Tour: [19, 13, 17, 24]
Metrics: [231, 84]
=============
Tour: [19, 13, 17, 25]
Metrics: [240, 70]
=============
Tour: [19, 13, 17, 9]
Metrics: [260, 85]
=============
Tour: [19, 18, 6, 15, 20]
Metrics: [253, 87]
=============
Tour: [19, 18, 6, 15, 16]
Metrics: [242, 80]
=============
Tour: [19, 18, 6, 25, 7]
Metrics: [246, 89]
=============
Tour: [19, 18, 6, 25, 8]
Metrics: [247, 89]
=============
Tour: [19, 18, 6, 25, 1]
Metrics: [254, 86]
=============
Tour: [19, 18, 6, 25, 2]
Metrics: [229, 86]
=============
Tour: [19, 18, 6, 25, 3]
Metrics: [223, 86]
=============
Tour: [19, 18, 6, 25, 4]
Metrics: [253, 86]
=============
Tour: [19, 18, 6, 25, 5]
Metrics: [250, 86]
=============
Tour: [19, 18, 6, 9, 23]
Metrics: [293, 90]
=============
Tour: [19, 18, 7, 15, 20]
Metrics: [273, 87]
=============
Tour: [19, 18, 7, 15, 16]
Metrics: [262, 80]
=============
Tour: [19, 18, 7, 25, 6]
Metrics: [246, 89]
=============
Tour: [19, 18, 7, 25, 8]
Metrics: [267, 89]
=============
Tour: [19, 18, 7, 25, 1]
Metrics: [274, 86]
=============
Tour: [19, 18, 7, 25, 2]
Metrics: [249, 86]
=============
Tour: [19, 18, 7, 25, 3]
Metrics: [243, 86]
=============
Tour: [19, 18, 7, 25, 4]
Metrics: [273, 86]
=============
Tour: [19, 18, 7, 25, 5]
Metrics: [270, 86]
=============
Tour: [19, 18, 7, 9, 23]
Metrics: [313, 90]
=============
Tour: [19, 18, 8, 15, 20]
Metrics: [274, 87]
=============
Tour: [19, 18, 8, 15, 16]
Metrics: [263, 80]
=============
Tour: [19, 18, 8, 25, 6]
Metrics: [247, 89]
=============
Tour: [19, 18, 8, 25, 7]
Metrics: [267, 89]
=============
Tour: [19, 18, 8, 25, 1]
Metrics: [275, 86]
=============
Tour: [19, 18, 8, 25, 2]
Metrics: [250, 86]
=============
Tour: [19, 18, 8, 25, 3]
Metrics: [244, 86]
=============
Tour: [19, 18, 8, 25, 4]
Metrics: [274, 86]
=============
Tour: [19, 18, 8, 25, 5]
Metrics: [271, 86]
=============
Tour: [19, 18, 8, 9, 23]
Metrics: [314, 90]
=============
Tour: [19, 18, 1, 13, 17]
Metrics: [296, 82]
=============
Tour: [19, 18, 2, 13, 17]
Metrics: [271, 82]
=============
Tour: [19, 18, 3, 13, 17]
Metrics: [265, 82]
=============
Tour: [19, 18, 4, 13, 17]
Metrics: [295, 82]
=============
Tour: [19, 18, 5, 13, 17]
Metrics: [292, 82]
=============
Tour: [19, 13, 17, 15, 20]
Metrics: [295, 86]
=============
Tour: [19, 13, 17, 15, 16]
Metrics: [284, 79]
=============
Tour: [19, 13, 17, 25, 6]
Metrics: [268, 88]
=============
Tour: [19, 13, 17, 25, 7]
Metrics: [288, 88]
=============
Tour: [19, 13, 17, 25, 8]
Metrics: [289, 88]
=============
Tour: [19, 13, 17, 25, 1]
Metrics: [296, 85]
=============
Tour: [19, 13, 17, 25, 2]
Metrics: [271, 85]
=============
Tour: [19, 13, 17, 25, 3]
Metrics: [265, 85]
=============
Tour: [19, 13, 17, 25, 4]
Metrics: [295, 85]
=============
Tour: [19, 13, 17, 25, 5]
Metrics: [292, 85]
=============
Tour: [19, 13, 17, 25, 22]
Metrics: [306, 100]
=============
Tour: [19, 13, 17, 9, 23]
Metrics: [335, 89]
=============
Tour: [19, 18, 6, 25, 7, 15]
Metrics: [316, 91]
=============
Tour: [19, 18, 6, 25, 8, 15]
Metrics: [317, 91]
=============
Tour: [19, 18, 7, 25, 6, 15]
Metrics: [316, 91]
=============
Tour: [19, 18, 7, 25, 8, 15]
Metrics: [337, 91]
=============
Tour: [19, 18, 8, 25, 6, 15]
Metrics: [317, 91]
=============
Tour: [19, 18, 8, 25, 7, 15]
Metrics: [337, 91]
=============
Tour: [19, 18, 1, 13, 17, 15]
Metrics: [366, 84]
=============
Tour: [19, 18, 1, 13, 17, 25]
Metrics: [346, 100]
=============
Tour: [19, 18, 2, 13, 17, 15]
Metrics: [341, 84]
=============
Tour: [19, 18, 2, 13, 17, 25]
Metrics: [321, 100]
=============
Tour: [19, 18, 3, 13, 17, 15]
Metrics: [335, 84]
=============
Tour: [19, 18, 3, 13, 17, 25]
Metrics: [315, 100]
=============
Tour: [19, 18, 4, 13, 17, 15]
Metrics: [365, 84]
=============
Tour: [19, 18, 4, 13, 17, 25]
Metrics: [345, 100]
=============
Tour: [19, 18, 5, 13, 17, 15]
Metrics: [362, 84]
=============
Tour: [19, 18, 5, 13, 17, 25]
Metrics: [342, 100]
=============
Tour: [19, 13, 17, 25, 6, 15]
Metrics: [338, 90]
=============
Tour: [19, 13, 17, 25, 7, 15]
Metrics: [358, 90]
=============
Tour: [19, 13, 17, 25, 8, 15]
Metrics: [359, 90]
=============
Tour: [19, 13, 17, 25, 1, 18]
Metrics: [346, 100]
=============
Tour: [19, 13, 17, 25, 2, 18]
Metrics: [321, 100]
=============
Tour: [19, 13, 17, 25, 3, 18]
Metrics: [315, 100]
=============
Tour: [19, 13, 17, 25, 4, 18]
Metrics: [345, 100]
=============
Tour: [19, 13, 17, 25, 5, 18]
Metrics: [342, 100]
=============