In [359]:
import pandas as pd
import numpy as np

In [360]:
df = pd.read_csv("datasets/ncaa_2018_players.csv").reset_index(drop = True)

In [361]:
df.head()

             TeamName          Player Position Height Weights Class
0  Albany Great Danes  Xavier Cochran        G    6.6     195    SO
1  Albany Great Danes  Costa Anderson        G    6.2     195    SR
2  Albany Great Danes     Ahmad Clark        G    6.1     175    SO
3  Albany Great Danes      Brent Hank        F    6.1     265    FR
4  Albany Great Danes   Cameron Healy        G    6.3     190    FR

In [362]:
df["TeamNameLower"] = df["TeamName"].str.lower()

In [363]:
df["Found"] = list(map(lambda x: x.find("michigan wolverines".lower()), df["TeamNameLower"]))
df.head(10)

,TeamName,Player,Position,Height,Weights,Class,TeamNameLower,Found
0,Albany Great Danes,Xavier Cochran,G,6.6,195,SO,albany great danes,-1
1,Albany Great Danes,Costa Anderson,G,6.2,195,SR,albany great danes,-1
2,Albany Great Danes,Ahmad Clark,G,6.1,175,SO,albany great danes,-1
3,Albany Great Danes,Brent Hank,F,6.1,265,FR,albany great danes,-1
4,Albany Great Danes,Cameron Healy,G,6.3,190,FR,albany great danes,-1
5,Albany Great Danes,Devonte Campbell,F,6.6,220,JR,albany great danes,-1
6,Albany Great Danes,David Nichols,G,6,190,JR,albany great danes,-1
7,Albany Great Danes,Adam Lulka,F,6.8,235,FR,albany great danes,-1
8,Albany Great Danes,Nick Fruscio,G,5.1,155,SO,albany great danes,-1
9,Albany Great Danes,Joe Cremo,G,6.4,185,JR,albany great danes,-1

In [364]:
playersFound = df[df["Found"] > -1]
playersFound.head(20)

,TeamName,Player,Position,Height,Weights,Class,TeamNameLower,Found
1586,Michigan Wolverines,Brent Hibbitts,F,6.8,220,JR,michigan wolverines,0
1587,Michigan Wolverines,Charles Matthews,G,6.6,200,JR,michigan wolverines,0
1588,Michigan Wolverines,Jordan Poole,G,6.4,190,FR,michigan wolverines,0
1589,Michigan Wolverines,Zavier Simpson,G,6,185,SO,michigan wolverines,0
1590,Michigan Wolverines,Isaiah Livers,F,6.7,230,FR,michigan wolverines,0
1591,Michigan Wolverines,Jaaron Simmons,G,6.1,185,SR,michigan wolverines,0
1592,Michigan Wolverines,Luke Wilson,G,6,165,FR,michigan wolverines,0
1593,Michigan Wolverines,Muhammad-Ali Abdur-Rahkman,G,6.4,190,SR,michigan wolverines,0
1594,Michigan Wolverines,Moritz Wagner,F,6.11,245,JR,michigan wolverines,0
1595,Michigan Wolverines,Rico Ozuna-Harrison,G,5.11,165,FR,michigan wolverines,0
1596,Michigan Wolverines,Jon Teske,C,7.1,255,SO,michigan wolverines,0
1597,Michigan Wolverines,Duncan Robinson,G,6.8,215,SR,michigan wolverines,0
1598,Michigan Wolverines,Ibi Watson,G,6.5,200,SO,michigan wolverines,0
1599,Michigan Wolverines,C.J. Baird,F,6.5,220,FR,michigan wolverines,0
1600,Michigan Wolverines,Naji Ozeir,F,6.8,225,FR,michigan wolverines,0
1601,Michigan Wolverines,Austin Davis,F,6.1,245,SO,michigan wolverines,0
1602,Michigan Wolverines,Eli Brooks,G,6,170,FR,michigan wolverines,0

In [365]:
len(playersFound["TeamName"].unique())

1

In [366]:
playersFound["TeamName"].unique().tolist()

['Michigan Wolverines']

In [367]:
def find_team(team):
    if (len(team) < 1):
        return
    
    working_df = df.copy()
    working_df["TeamNameLower"] = working_df["TeamName"].str.lower()
    working_df["Found"] = list(map(lambda x: x.find(team.lower()), df["TeamNameLower"]))
    teamFound = working_df[working_df["Found"] > -1]
    teamFound = teamFound[teamFound["Height"] != ".."]
    
    if (len(teamFound["TeamName"].unique()) == 0):
        print("ERROR: No team found with name:", team)
        return
        
    if (len(teamFound["TeamName"].unique()) > 1):
        print("ERROR: More than one team found with name:", team)
        print(teamFound["TeamName"].unique().tolist())
        return
    
    return(teamFound)

In [368]:
def pick(team1, team2):
    
    team1 = team1.lower()
    team2 = team2.lower()
    
    team1_df = find_team(team1)
    team2_df = find_team(team2)
    
    if (team1_df is None or len(team1_df) < 1):
        return
    
    if (team2_df is None or len(team2_df) < 1):
        return
    
    # get the tallest 3 players and average them out
    
    team1_df = team1_df.sort_values(by='Height', ascending=False)
    top3_team1 = np.array(team1_df["Height"].head(3))
    top3_team1 = top3_team1.astype(np.float)
    team1_avg = round(np.mean(top3_team1), 3)
    team1_allavg = round(np.mean(np.array(team1_df["Height"]).astype(np.float)), 3)
    
    team2_df = team2_df.sort_values(by='Height', ascending=False)
    top3_team2 = np.array(team2_df["Height"].head(3))
    top3_team2 = top3_team2.astype(np.float)
    team2_avg = round(np.mean(top3_team2), 3)
    team2_allavg = round(np.mean(np.array(team2_df["Height"]).astype(np.float)), 3)
    
    if (team1_avg > team2_avg):
        print("PICK: ", team1)
        
    if (team2_avg > team1_avg):
        print("PICK:", team2)
        
    if (team1_avg == team2_avg):
        if (team1_allavg >= team2_allavg):
            print("PICK: ", team1)
        else:
            print("PICK:", team2)
    
    print("")
    print(team1, ":", team1_avg, "|", team1_allavg)
    print(team2, ":", team2_avg, "|", team2_allavg)
    print("------------------------------------------")

In [369]:
pick("Virginia Cavaliers", "umbc")

PICK:  virginia cavaliers

virginia cavaliers : 6.9 | 6.521
umbc : 6.9 | 6.456
------------------------------------------

In [370]:
pick("Kansas State Wildcats", "Creighton")

PICK:  kansas state wildcats

kansas state wildcats : 6.9 | 6.417
creighton : 6.7 | 6.351
------------------------------------------

In [371]:
pick("davidson", "Kentucky Wildcats")

PICK: kentucky wildcats

davidson : 6.833 | 6.276
kentucky wildcats : 6.9 | 6.408
------------------------------------------

In [372]:
pick("Arizona Wildcats", "Buffalo Bulls")

PICK:  arizona wildcats

arizona wildcats : 7.0 | 6.407
buffalo bulls : 6.667 | 6.314
------------------------------------------

In [373]:
pick("Miami Hurricanes", "Loyola (Chi) Ramblers")

PICK: loyola (chi) ramblers

miami hurricanes : 6.867 | 6.301
loyola (chi) ramblers : 6.867 | 6.525
------------------------------------------

In [374]:
pick("Wright State", "Tennessee Volunteers")

PICK: tennessee volunteers

wright state : 6.767 | 6.276
tennessee volunteers : 6.8 | 6.382
------------------------------------------

In [375]:
pick("nevada", "Texas Longhorns")

PICK: texas longhorns

nevada : 6.733 | 6.371
texas longhorns : 6.867 | 6.401
------------------------------------------

In [376]:
pick("cincinnati", "georgia state")

PICK: georgia state

cincinnati : 6.9 | 6.354
georgia state : 6.9 | 6.5
------------------------------------------

In [377]:
pick("xavier", "Central Eagles")

PICK: central eagles

xavier : 6.8 | 6.446
central eagles : 6.833 | 6.374
------------------------------------------

In [378]:
pick("missouri tigers", "florida state")

PICK: florida state

missouri tigers : 6.7 | 6.347
florida state : 7.1 | 6.644
------------------------------------------

In [379]:
pick("ohio state", "South Dakota State Jackrabbits")

PICK: south dakota state jackrabbits

ohio state : 6.867 | 6.443
south dakota state jackrabbits : 6.867 | 6.46
------------------------------------------

In [380]:
pick("gonzaga", "UNC Greensboro Spartans")

PICK: unc greensboro spartans

gonzaga : 6.833 | 6.447
unc greensboro spartans : 6.867 | 6.332
------------------------------------------

In [381]:
pick("houston", "San Diego State Aztecs")

PICK: san diego state aztecs

houston : 6.767 | 6.433
san diego state aztecs : 6.867 | 6.393
------------------------------------------

In [382]:
pick("Michigan Wolverines", "Montana Grizzlies")

PICK:  michigan wolverines

michigan wolverines : 6.9 | 6.354
montana grizzlies : 6.867 | 6.507
------------------------------------------

In [383]:
pick("Texas A&M Aggies", "providence")

PICK: providence

texas a&m aggies : 6.9 | 6.256
providence : 6.9 | 6.465
------------------------------------------

In [384]:
pick("North Carolina Tar Heels", "lipscomb")

PICK:  north carolina tar heels

north carolina tar heels : 6.833 | 6.376
lipscomb : 6.8 | 6.247
------------------------------------------

In [385]:
pick("Virginia Cavaliers", "Kansas State Wildcats")

PICK:  virginia cavaliers

virginia cavaliers : 6.9 | 6.521
kansas state wildcats : 6.9 | 6.417
------------------------------------------

In [386]:
pick("Kentucky Wildcats", "Arizona Wildcats")

PICK: arizona wildcats

kentucky wildcats : 6.9 | 6.408
arizona wildcats : 7.0 | 6.407
------------------------------------------

In [387]:
pick("Loyola (Chi) Ramblers", "Tennessee Volunteers")

PICK:  loyola (chi) ramblers

loyola (chi) ramblers : 6.867 | 6.525
tennessee volunteers : 6.8 | 6.382
------------------------------------------

In [388]:
pick("texas longhorns", "georgia state")

PICK: georgia state

texas longhorns : 6.867 | 6.401
georgia state : 6.9 | 6.5
------------------------------------------

In [389]:
pick("Central Eagles", "florida state")

PICK: florida state

central eagles : 6.833 | 6.374
florida state : 7.1 | 6.644
------------------------------------------

In [390]:
pick("South Dakota State Jackrabbits", "UNC Greensboro Spartans")

PICK:  south dakota state jackrabbits

south dakota state jackrabbits : 6.867 | 6.46
unc greensboro spartans : 6.867 | 6.332
------------------------------------------

In [391]:
pick("san diego state", "michigan wolverines")

PICK: michigan wolverines

san diego state : 6.867 | 6.393
michigan wolverines : 6.9 | 6.354
------------------------------------------

In [392]:
pick("providence", "north carolina tar")

PICK:  providence

providence : 6.9 | 6.465
north carolina tar : 6.833 | 6.376
------------------------------------------

In [393]:
pick("Virginia Cavaliers", "arizona wildcats")

PICK: arizona wildcats

virginia cavaliers : 6.9 | 6.521
arizona wildcats : 7.0 | 6.407
------------------------------------------

In [394]:
pick("Loyola (Chi) Ramblers", "georgia state")

PICK: georgia state

loyola (chi) ramblers : 6.867 | 6.525
georgia state : 6.9 | 6.5
------------------------------------------

In [395]:
pick("florida state", "South Dakota State")

PICK:  florida state

florida state : 7.1 | 6.644
south dakota state : 6.867 | 6.46
------------------------------------------

In [396]:
pick("michigan wolverines", "providence")

PICK: providence

michigan wolverines : 6.9 | 6.354
providence : 6.9 | 6.465
------------------------------------------

In [397]:
pick("Arizona Wildcats", "georgia state")

PICK:  arizona wildcats

arizona wildcats : 7.0 | 6.407
georgia state : 6.9 | 6.5
------------------------------------------

In [398]:
pick("villanova", "radford")

PICK:  villanova

villanova : 6.9 | 6.388
radford : 6.767 | 6.362
------------------------------------------

In [399]:
pick("virginia tech", "Alabama Crimson Tide")

PICK: alabama crimson tide

virginia tech : 6.567 | 6.329
alabama crimson tide : 6.9 | 6.464
------------------------------------------

In [400]:
pick("west virginia", "murray state")

PICK: murray state

west virginia : 6.8 | 6.408
murray state : 6.833 | 6.477
------------------------------------------

In [401]:
pick("wichita state", "marshall")

PICK:  wichita state

wichita state : 6.933 | 6.471
marshall : 6.9 | 6.434
------------------------------------------

In [402]:
pick("florida gators", "bona")

PICK:  florida gators

florida gators : 6.9 | 6.395
bona : 6.667 | 6.193
------------------------------------------

In [403]:
pick("texas tech", "austin")

PICK: austin

texas tech : 6.767 | 6.441
austin : 6.833 | 6.413
------------------------------------------

In [404]:
pick("Arkansas Razorbacks", "butler")

PICK:  arkansas razorbacks

arkansas razorbacks : 6.833 | 6.344
butler : 6.7 | 6.277
------------------------------------------

In [405]:
pick("purdue", "fullerton")

PICK:  purdue

purdue : 7.133 | 6.4
fullerton : 6.833 | 6.425
------------------------------------------

In [406]:
pick("Kansas Jayhawks", "Pennsylvania Quakers")

PICK: pennsylvania quakers

kansas jayhawks : 6.933 | 6.534
pennsylvania quakers : 6.967 | 6.495
------------------------------------------

In [407]:
pick("seton hall", "nc state")

PICK:  seton hall

seton hall : 6.933 | 6.354
nc state : 6.867 | 6.429
------------------------------------------

In [408]:
pick("clemson", "New Mexico State Aggies")

PICK:  clemson

clemson : 6.867 | 6.465
new mexico state aggies : 6.8 | 6.383
------------------------------------------

In [409]:
pick("auburn", "Charleston Cougars")

PICK:  auburn

auburn : 6.867 | 6.406
charleston cougars : 6.733 | 6.289
------------------------------------------

In [410]:
pick("tcu", "arizona state")

PICK:  tcu

tcu : 6.833 | 6.439
arizona state : 6.833 | 6.219
------------------------------------------

In [411]:
pick("michigan st", "bucknell")

PICK: bucknell

michigan st : 6.867 | 6.332
bucknell : 6.9 | 6.384
------------------------------------------

In [412]:
pick("rhode island", "Oklahoma Sooners")

PICK: oklahoma sooners

rhode island : 6.8 | 6.32
oklahoma sooners : 6.9 | 6.482
------------------------------------------

In [413]:
pick("Duke Blue Devils", "Iona")

PICK:  duke blue devils

duke blue devils : 6.867 | 6.441
iona : 6.867 | 6.425
------------------------------------------

In [414]:
pick("villanova", "Alabama Crimson Tide")

PICK: alabama crimson tide

villanova : 6.9 | 6.388
alabama crimson tide : 6.9 | 6.464
------------------------------------------

In [415]:
pick("murray state", "wichita")

PICK: wichita

murray state : 6.833 | 6.477
wichita : 6.933 | 6.471
------------------------------------------

In [416]:
pick("florida gators", "austin")

PICK:  florida gators

florida gators : 6.9 | 6.395
austin : 6.833 | 6.413
------------------------------------------

In [417]:
pick("Arkansas Razorbacks", "purdue")

PICK: purdue

arkansas razorbacks : 6.833 | 6.344
purdue : 7.133 | 6.4
------------------------------------------

In [418]:
pick("Pennsylvania Quakers", "seton")

PICK:  pennsylvania quakers

pennsylvania quakers : 6.967 | 6.495
seton : 6.933 | 6.354
------------------------------------------

In [419]:
pick("clemson", "auburn")

PICK:  clemson

clemson : 6.867 | 6.465
auburn : 6.867 | 6.406
------------------------------------------

In [420]:
pick("tcu", "bucknell")

PICK: bucknell

tcu : 6.833 | 6.439
bucknell : 6.9 | 6.384
------------------------------------------

In [421]:
pick("Oklahoma Sooners", "Duke Blue Devils")

PICK:  oklahoma sooners

oklahoma sooners : 6.9 | 6.482
duke blue devils : 6.867 | 6.441
------------------------------------------

In [422]:
pick("bucknell", "oklahoma sooners")

PICK: oklahoma sooners

bucknell : 6.9 | 6.384
oklahoma sooners : 6.9 | 6.482
------------------------------------------

In [423]:
pick("quakers", "clemson")

PICK:  quakers

quakers : 6.967 | 6.495
clemson : 6.867 | 6.465
------------------------------------------

In [424]:
pick("alabama crimson", "wichita")

PICK: wichita

alabama crimson : 6.9 | 6.464
wichita : 6.933 | 6.471
------------------------------------------

In [425]:
pick("florida gators", "purdue")

PICK: purdue

florida gators : 6.9 | 6.395
purdue : 7.133 | 6.4
------------------------------------------

In [426]:
pick("quakers", "sooners")

PICK:  quakers

quakers : 6.967 | 6.495
sooners : 6.9 | 6.482
------------------------------------------

In [427]:
pick("purdue", "wichita")

PICK:  purdue

purdue : 7.133 | 6.4
wichita : 6.933 | 6.471
------------------------------------------

In [428]:
pick("purdue", "quakers")

PICK:  purdue

purdue : 7.133 | 6.4
quakers : 6.967 | 6.495
------------------------------------------