In [1]:
import csv

with open('datasets/catsvdogs.csv') as f:
    file = list(csv.reader(f, delimiter = ','))

In [2]:
print(file[:3])

[['Location', 'Number of Households (in 1000)', 'Percentage of households with pets', 'Number of Pet Households (in 1000)', 'Percentage of Dog Owners', 'Dog Owning Households (1000s)', 'Mean Number of Dogs per household', 'Dog Population (in 1000)', 'Percentage of Cat Owners', 'Cat Owning Households', 'Mean Number of Cats', 'Cat Population'], ['Alabama', '1828', '60', '1088', '44', '807', '2', '1410', '27', '501', '3', '1252'], ['Arizona', '2515', '60', '1497', '40', '1008', '2', '1798', '30', '743', '2', '1438']]

In [3]:
print(file[0])

['Location', 'Number of Households (in 1000)', 'Percentage of households with pets', 'Number of Pet Households (in 1000)', 'Percentage of Dog Owners', 'Dog Owning Households (1000s)', 'Mean Number of Dogs per household', 'Dog Population (in 1000)', 'Percentage of Cat Owners', 'Cat Owning Households', 'Mean Number of Cats', 'Cat Population']

In [4]:
print(file[1])

['Alabama', '1828', '60', '1088', '44', '807', '2', '1410', '27', '501', '3', '1252']

In [8]:
pets_n = [int(item[3]) for item in file[1:]]

In [9]:
print(sum(pets_n)/len(pets_n))

1342.591836734694

In [11]:
nums = [item[1:-1] for item in file[1:]]

In [12]:
states = [item[0] for item in file[1:]]

In [15]:
print(nums[:10])

[['1828', '60', '1088', '44', '807', '2', '1410', '27', '501', '3'], ['2515', '60', '1497', '40', '1008', '2', '1798', '30', '743', '2'], ['1148', '62', '716', '48', '550', '2', '1097', '31', '351', '2'], ['12974', '53', '6865', '33', '4260', '2', '6687', '28', '3687', '2'], ['1986', '61', '1217', '43', '845', '2', '1349', '32', '642', '2'], ['1337', '54', '728', '28', '379', '1', '507', '32', '427', '2'], ['334', '57', '189', '34', '113', '1', '163', '34', '113', '2'], ['287', '22', '63', '13', '38', '1', '42', '12', '33', '2'], ['7609', '54', '4138', '36', '2718', '2', '4210', '27', '2079', '2'], ['3798', '55', '2093', '40', '1522', '2', '2479', '27', '1037', '2']]

In [16]:
print(states[:10])

['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia']

## Arrays

In [18]:
import numpy as np

In [21]:
pets = np.array(nums, dtype = np.int)
pets[:5]

array([[ 1828,    60,  1088,    44,   807,     2,  1410,    27,   501,
            3],
       [ 2515,    60,  1497,    40,  1008,     2,  1798,    30,   743,
            2],
       [ 1148,    62,   716,    48,   550,     2,  1097,    31,   351,
            2],
       [12974,    53,  6865,    33,  4260,     2,  6687,    28,  3687,
            2],
       [ 1986,    61,  1217,    43,   845,     2,  1349,    32,   642,
            2]])

In [22]:
pets.shape

(49, 10)

In [23]:
np.array([2, 3, 1, 0])

array([2, 3, 1, 0])

In [26]:
np.array([[1,2.0], [0,0], (1+5, 3.0)])

array([[ 1.,  2.],
       [ 0.,  0.],
       [ 6.,  3.]])

In [27]:
np.array(['x', 'y', 0, 1])

array(['x', 'y', '0', '1'],
      dtype='<U1')

In [28]:
np.zeros((4, 5))

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [30]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [31]:
np.arange(2, 10, dtype = np.float)

array([ 2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.])

In [36]:
# the third parameter becomes interval spacing

np.arange(2, 6, 0.5)

array([ 2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5])

In [37]:
np.random.rand(2,2)

array([[ 0.46953145,  0.87071054],
       [ 0.51315535,  0.6050161 ]])

### Array Indexing

In [40]:
# get row index = 4 and column index = 2
pets[4, 2]

1217

In [42]:
# get first 10 rows, and only the 4th column
pets[0:10, 3]

array([44, 40, 48, 33, 43, 28, 34, 13, 36, 40])

In [43]:
# get entire 4th column
pets[3,]

array([12974,    53,  6865,    33,  4260,     2,  6687,    28,  3687,     2])

### Modifying Array

In [44]:
pets_cp = np.copy(pets)

In [47]:
pets_cp[4, 5] = 40

print(pets[4, 5])
print(pets_cp[4, 5])

2
40

In [51]:
# change enite 4th column to values of 400
pets_cp[:,3] = 400

print(pets_cp[0:5, 3])

[400 400 400 400 400]

### Math

In [52]:
pets[:,3]

array([44, 40, 48, 33, 43, 28, 34, 13, 36, 40, 43, 32, 40, 33, 42, 46, 36,
       35, 31, 24, 35, 32, 45, 46, 41, 34, 37, 30, 32, 46, 29, 40, 36, 37,
       43, 39, 33, 29, 39, 43, 44, 44, 29, 38, 35, 36, 46, 34, 39])

In [53]:
pets[:, 3] + 100

array([144, 140, 148, 133, 143, 128, 134, 113, 136, 140, 143, 132, 140,
       133, 142, 146, 136, 135, 131, 124, 135, 132, 145, 146, 141, 134,
       137, 130, 132, 146, 129, 140, 136, 137, 143, 139, 133, 129, 139,
       143, 144, 144, 129, 138, 135, 136, 146, 134, 139])

In [55]:
pets[:,3] - 1

array([43, 39, 47, 32, 42, 27, 33, 12, 35, 39, 42, 31, 39, 32, 41, 45, 35,
       34, 30, 23, 34, 31, 44, 45, 40, 33, 36, 29, 31, 45, 28, 39, 35, 36,
       42, 38, 32, 28, 38, 42, 43, 43, 28, 37, 34, 35, 45, 33, 38])

In [56]:
pets[:,3] * 0.01

array([ 0.44,  0.4 ,  0.48,  0.33,  0.43,  0.28,  0.34,  0.13,  0.36,
        0.4 ,  0.43,  0.32,  0.4 ,  0.33,  0.42,  0.46,  0.36,  0.35,
        0.31,  0.24,  0.35,  0.32,  0.45,  0.46,  0.41,  0.34,  0.37,
        0.3 ,  0.32,  0.46,  0.29,  0.4 ,  0.36,  0.37,  0.43,  0.39,
        0.33,  0.29,  0.39,  0.43,  0.44,  0.44,  0.29,  0.38,  0.35,
        0.36,  0.46,  0.34,  0.39])

In [57]:
pets[:,3] / 100

array([ 0.44,  0.4 ,  0.48,  0.33,  0.43,  0.28,  0.34,  0.13,  0.36,
        0.4 ,  0.43,  0.32,  0.4 ,  0.33,  0.42,  0.46,  0.36,  0.35,
        0.31,  0.24,  0.35,  0.32,  0.45,  0.46,  0.41,  0.34,  0.37,
        0.3 ,  0.32,  0.46,  0.29,  0.4 ,  0.36,  0.37,  0.43,  0.39,
        0.33,  0.29,  0.39,  0.43,  0.44,  0.44,  0.29,  0.38,  0.35,
        0.36,  0.46,  0.34,  0.39])

In [58]:
pets[:, 3] * pets[:, 3]

array([1936, 1600, 2304, 1089, 1849,  784, 1156,  169, 1296, 1600, 1849,
       1024, 1600, 1089, 1764, 2116, 1296, 1225,  961,  576, 1225, 1024,
       2025, 2116, 1681, 1156, 1369,  900, 1024, 2116,  841, 1600, 1296,
       1369, 1849, 1521, 1089,  841, 1521, 1849, 1936, 1936,  841, 1444,
       1225, 1296, 2116, 1156, 1521])

In [59]:
pets[:, 3].sum()

1812

In [60]:
pets[:, 3].mean()

36.979591836734691

In [61]:
pets[:, 3].sum()/len(pets[:, 3])

36.979591836734691

In [62]:
pets[:,3].std()

6.6378315733881088

In [63]:
pets[:, 3].min()

13

In [64]:
pets[:, 3].max()

48

In [69]:
pets_transposed = pets.transpose()
print(pets_transposed.shape)

(10, 49)

### Subsets

In [70]:
pets[:, 3] > 45

array([False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False], dtype=bool)

In [72]:
many_dogs = pets[:, 3] > 45
pets[many_dogs, :]

array([[1148,   62,  716,   48,  550,    2, 1097,   31,  351,    2],
       [1777,   62, 1094,   46,  816,    2, 1531,   37,  654,    2],
       [2498,   61, 1534,   46, 1148,    2, 1978,   32,  805,    2],
       [ 773,   68,  523,   46,  356,    2,  703,   32,  247,    2],
       [ 765,   62,  475,   46,  350,    2,  648,   38,  291,    2]])

In [75]:
many_pets = (pets[:,3] > 40) & (pets[:,7] > 30)
pets[many_pets, :]

array([[1148,   62,  716,   48,  550,    2, 1097,   31,  351,    2],
       [1986,   61, 1217,   43,  845,    2, 1349,   32,  642,    2],
       [ 568,   62,  352,   43,  242,    2,  357,   35,  196,    2],
       [1133,   61,  691,   42,  480,    2,  774,   33,  378,    2],
       [1777,   62, 1094,   46,  816,    2, 1531,   37,  654,    2],
       [2498,   61, 1534,   46, 1148,    2, 1978,   32,  805,    2],
       [ 410,   61,  251,   41,  169,    2,  282,   34,  138,    2],
       [ 773,   68,  523,   46,  356,    2,  703,   32,  247,    2],
       [1479,   59,  872,   43,  638,    2, 1327,   33,  482,    2],
       [ 333,   66,  219,   43,  143,    2,  220,   39,  130,    2],
       [ 765,   62,  475,   46,  350,    2,  648,   38,  291,    2]])

In [76]:
states_arr = np.array(states)

In [77]:
print(states_arr)

['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Connecticut'
 'Delaware' 'District of Columbia' 'Florida' 'Georgia' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland'
 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [78]:
states_reshape = states_arr.reshape(49, 1)

In [79]:
print(states_reshape)

[['Alabama']
 ['Arizona']
 ['Arkansas']
 ['California']
 ['Colorado']
 ['Connecticut']
 ['Delaware']
 ['District of Columbia']
 ['Florida']
 ['Georgia']
 ['Idaho']
 ['Illinois']
 ['Indiana']
 ['Iowa']
 ['Kansas']
 ['Kentucky']
 ['Louisiana']
 ['Maine']
 ['Maryland']
 ['Massachusetts']
 ['Michigan']
 ['Minnesota']
 ['Mississippi']
 ['Missouri']
 ['Montana']
 ['Nebraska']
 ['Nevada']
 ['New Hampshire']
 ['New Jersey']
 ['New Mexico']
 ['New York']
 ['North Carolina']
 ['North Dakota']
 ['Ohio']
 ['Oklahoma']
 ['Oregon']
 ['Pennsylvania']
 ['Rhode Island']
 ['South Carolina']
 ['South Dakota']
 ['Tennessee']
 ['Texas']
 ['Utah']
 ['Vermont']
 ['Virginia']
 ['Washington']
 ['West Virginia']
 ['Wisconsin']
 ['Wyoming']]

In [81]:
states_transposed = states_arr.transpose()
print(states_transposed)

['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Connecticut'
 'Delaware' 'District of Columbia' 'Florida' 'Georgia' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland'
 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

### Joining Arrays

In [83]:
joined = np.hstack((pets, states_reshape))

# horizontal stack = number of rows have to match because you're placing them side by side.

print(joined)

[['1828' '60' '1088' '44' '807' '2' '1410' '27' '501' '3' 'Alabama']
 ['2515' '60' '1497' '40' '1008' '2' '1798' '30' '743' '2' 'Arizona']
 ['1148' '62' '716' '48' '550' '2' '1097' '31' '351' '2' 'Arkansas']
 ['12974' '53' '6865' '33' '4260' '2' '6687' '28' '3687' '2' 'California']
 ['1986' '61' '1217' '43' '845' '2' '1349' '32' '642' '2' 'Colorado']
 ['1337' '54' '728' '28' '379' '1' '507' '32' '427' '2' 'Connecticut']
 ['334' '57' '189' '34' '113' '1' '163' '34' '113' '2' 'Delaware']
 ['287' '22' '63' '13' '38' '1' '42' '12' '33' '2' 'District of Columbia']
 ['7609' '54' '4138' '36' '2718' '2' '4210' '27' '2079' '2' 'Florida']
 ['3798' '55' '2093' '40' '1522' '2' '2479' '27' '1037' '2' 'Georgia']
 ['568' '62' '352' '43' '242' '2' '357' '35' '196' '2' 'Idaho']
 ['5026' '52' '2602' '32' '1627' '2' '2365' '26' '1321' '2' 'Illinois']
 ['2478' '60' '1484' '40' '989' '2' '1619' '34' '852' '2' 'Indiana']
 ['1219' '54' '654' '33' '407' '2' '610' '30' '370' '2' 'Iowa']
 ['1133' '61' '691' '42' '480' '2' '774' '33' '378' '2' 'Kansas']
 ['1777' '62' '1094' '46' '816' '2' '1531' '37' '654' '2' 'Kentucky']
 ['1702' '55' '937' '36' '619' '2' '1115' '26' '441' '2' 'Louisiana']
 ['548' '63' '345' '35' '190' '2' '300' '46' '254' '2' 'Maine']
 ['2169' '52' '1134' '31' '667' '1' '915' '30' '645' '3' 'Maryland']
 ['2618' '50' '1318' '24' '618' '1' '850' '34' '892' '2' 'Massachusetts']
 ['3804' '55' '2108' '35' '1318' '2' '2036' '31' '1192' '2' 'Michigan']
 ['2163' '53' '1146' '32' '690' '1' '934' '30' '643' '2' 'Minnesota']
 ['1115' '56' '629' '45' '504' '2' '846' '29' '324' '2' 'Mississippi']
 ['2498' '61' '1534' '46' '1148' '2' '1978' '32' '805' '2' 'Missouri']
 ['410' '61' '251' '41' '169' '2' '282' '34' '138' '2' 'Montana']
 ['710' '51' '364' '34' '240' '2' '374' '31' '222' '2' 'Nebraska']
 ['986' '56' '548' '37' '366' '2' '578' '30' '299' '2' 'Nevada']
 ['508' '57' '289' '30' '154' '1' '212' '34' '174' '2' 'New Hampshire']
 ['3177' '51' '1611' '32' '1028' '1' '1340' '25' '803' '2' 'New Jersey']
 ['773' '68' '523' '46' '356' '2' '703' '32' '247' '2' 'New Mexico']
 ['7512' '51' '3802' '29' '2177' '1' '3054' '29' '2189' '2' 'New York']
 ['3701' '56' '2089' '40' '1491' '2' '2518' '30' '1090' '2'
  'North Carolina']
 ['272' '54' '147' '36' '98' '1' '139' '31' '85' '2' 'North Dakota']
 ['4661' '57' '2677' '37' '1708' '2' '2730' '33' '1553' '2' 'Ohio']
 ['1479' '59' '872' '43' '638' '2' '1327' '33' '482' '2' 'Oklahoma']
 ['1505' '64' '957' '39' '584' '2' '917' '40' '605' '2' 'Oregon']
 ['5172' '57' '2942' '33' '1702' '2' '2485' '34' '1748' '2' 'Pennsylvania']
 ['434' '53' '230' '29' '127' '1' '161' '28' '120' '2' 'Rhode Island']
 ['1759' '54' '951' '39' '678' '2' '1191' '28' '490' '2' 'South Carolina']
 ['333' '66' '219' '43' '143' '2' '220' '39' '130' '2' 'South Dakota']
 ['2583' '60' '1540' '44' '1140' '2' '2157' '30' '770' '2' 'Tennessee']
 ['9002' '59' '5265' '44' '3960' '2' '7163' '28' '2544' '2' 'Texas']
 ['930' '51' '476' '29' '273' '2' '410' '25' '229' '2' 'Utah']
 ['265' '71' '188' '38' '100' '1' '142' '50' '131' '2' 'Vermont']
 ['3017' '53' '1611' '35' '1069' '2' '1699' '29' '876' '2' 'Virginia']
 ['2632' '63' '1649' '36' '954' '2' '1609' '39' '1028' '2' 'Washington']
 ['765' '62' '475' '46' '350' '2' '648' '38' '291' '2' 'West Virginia']
 ['2350' '58' '1352' '34' '796' '1' '1138' '33' '776' '2' 'Wisconsin']
 ['221' '62' '137' '39' '86' '2' '125' '34' '75' '2' 'Wyoming']]